.navbar {
	margin-top: 20px;
	margin-bottom: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-left {
	width: 33%;
	display: flex;
	justify-content: left;
}

.navbar-center {
	width: 33%;
	display: flex;
	justify-content: center;
}

.navbar-right {
	display: flex;
	justify-content: right;
	width: 33%;
}

.navbar img {
	height: 50px;
	width: 100px;
}

.navbar h1 {
	margin: 0px;
	font-size: 50px;
}

.navbar svg {
	margin-left: 10px;
}

.subscribe {
	min-height: 29px;
	margin-left: 10px;
	padding: 0 16px;

	border-radius: 25px;
	border-color: black;
	background-color: white;

	font-size: 12px;
	font-weight: bold;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", sans-serif;
}

@media (max-width: 830px) {
	.navbar-left {
		width: 0%;
	}

	.navbar-center {
		padding-left: 20px;
		justify-content: left;
		width: 30%;
	}

	.navbar-right {
		justify-content: right;
		width: 70%;
	}

	.navbar img {
		height: 40px;
	}

	.navbar h1 {
		height: 40px;
	}

	.subscribe {
		font-size: 10px;
	}
}

html {
	touch-action: pan-y;
}

body {
	background-color: white;
	touch-action: pan-y;
}

img {
	width: 100%;
}

.tile {
	width: 52px;
	height: 52px;
	margin: 2.5px;
	border: solid;
	border-color: #d3d6da;
	border-width: 2px;

	font-family: "Helvetica Neue";
	display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.key {
	height: 58px;
	width: 2.75rem;
	margin: 0 6px 0 0;
	padding: 0.25em;
	border: none;
	border-radius: 4px;

	font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 1.25em;

	background-color: #d4d6da;
	color: black;
}

.keyboard {
	margin: 7px;
	
	.row {
		margin: 0 auto 8px;
	}

	.spacer {
		width: 1.25rem;
	}

	#key-Enter {
		font-size: 12px;
		width: 4rem;
	}

	#key-Backspace {
		font-size: 12px;
		width: 4rem;
	}
}

.row {
	display: flex;
  	justify-content: center;
}

/* Tile and keyboard colors */

.inputted {
	border-color: #878a8c;
}

.green {
	background-color: #6aaa64;
	border-color: #6aaa64;
	color: white;
}

.yellow {
	background-color: #c9b558;
	border-color: #c9b558;
	color: white;
}

.gray {
	background-color: #787c7e;
	border-color: #787c7e;
	color: white;
}

.space { /* "blank" tile for multi-word secret messages */
	background-color: white;
	border-color: white;
}

.lavender {
    background-color: #DFC5FE;
}

.lavender-border {
    border-color: #d0aafd;
}

/* Annimations */

.flip {
	animation: flip 500ms ease;
}

.jump {
	animation: jump 500ms ease;
}

.shake {
	animation: shake 500ms ease;
}

@keyframes flip {
	0% {transform: scaleY(1);}
	50% {transform: scaleY(0);}
  	100% {transform: scaleY(1);}
}

@keyframes jump {
	0% {transform: translateY(0px);}
	25% {transform: translateY(-30px);}
	50% {transform: translateY(5px);}
	75% {transform: translateY(-15px);}
	100% {transform: translateY(0px);}
}

@keyframes shake {
	0% {transform: translateX(0px);}
	12% {transform: translateX(-2px);}
	24% {transform: translateX(4px);}
	36% {transform: translateX(-4px);}
	48% {transform: translateX(4px);}
	60% {transform: translateX(-4px);}
	72% {transform: translateX(4px);}
	84% {transform: translateX(-2px);}
	100% {transform: translateX(0px);}
}